<% @applications.each do |application| %>
  <h3><p><%=link_to application.applicant_name, "/applications/#{application.id}" %></p></h3>
  <p><%= application.address %></p>
  <p><%= application.description %></p>
  <p><%= application.status %></p>
<% end %>

